@font-face {
	font-family: 'Minecraft';
	src: url(/fonts/Minecraft.woff) format('woff');
}

h6 {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
}

body {
	background: #eee;
	padding: 10px;
	color: #404040;
}

.arrow {
	width: 32px;
	height: 26px;
	margin-left: 16px;
	margin-right: 16px;
	background-size: cover;
	background: url(/assets/arrow.png);
}

.flame {
	width: 32px;
	height: 32px;
	margin-bottom: 5px;
	background: url(/assets/flame.png);
}

.plus {
	width: 26px;
	height: 26px;
	margin-left: 16px;
	margin-right: 16px;
	background-image: url(/assets/plus.png);
}

.arrow,
.flame,
.plus {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}
